body{
      background-image: url(/home/hc016/Pictures/dark-blue-ocean-surface-seen-from-underwater-looped-slow-motion-fractal-waves-underwater-and-rays-of-sunlight-shining-through-4k-seamless-loop-video_hy1i0dcrl_thumbnail-full01.png);

}

p {
  background-color: #ffffff4d;
}

.secondp {
  background-color: #ffffff1a;
}

.fa-anchor {
  font-size: 50px;
}

.fa-accusoft {
  font-size: 50px;
}

.fa-child {
  font-size: 50px;
}

h2 {
  text-decoration: underline;
}

.fa-css3-alt {
  font-size: 50px;
}
