body{
  background-image: url(island.jpg);
  background-position: center;
  background-size: cover;
}

p {
  background-color: #ffffff4d;
}

.secondp {
  background-color: #ffffff1a;
}

.fa-anchor {
  font-size: 50px;
}

.fa-accusoft {
  font-size: 50px;
}

.fa-child {
  font-size: 50px;
}

h2 {
  text-decoration: underline;
}

.fa-css3-alt {
  font-size: 50px;
}
